html, 
body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.fp{
	width: 100%;
	height: 100%;
}

#application{
	position: relative;
}

/*#navigation,
#navigation-threads{
	width: 350px;
}*/

#navigation{
	display: inline-block; 
	position: relative; 
	height: 100%; 
	z-index: 1;
}

#presentation{
	display: inline-block; 
	position:relative; 
	/*width: calc(100% - 350px); */
	height: 100%; 
	margin-left: -4px;
}

#presentation > div:first-child{
	position: absolute; 
	top: 44px; 
	left: 0px; 
	width: 100%; 
	height: calc(100% - 44px); 
	z-index: 1000;
	background: white;
}

#pf-thread{
	display: -webkit-flex;
	display: flex;

	-webkit-flex-direction: row;
	flex-direction: row;
}

#pf-media{
	width: 100%;
}

#pf-media ul li{
	padding: 0;
}

#pf-media-view{
	-webkit-flex: 1;
	flex: 1;

	background: hsla(0, 100%, 50%, 0.15);
}

.pf-medium{
	font-size: 16px;
	font-family: arial;

	display: -webkit-flex;
	display: flex;

	-webkit-flex-direction: column;
	flex-direction: column;

	padding: 5px;
}

.pf-medium div:nth-child(1){
	display: -webkit-flex;
	display: flex;

	-webkit-flex-direction: row;
	flex-direction: row;

	-webkit-align-items: flex-start;
	align-items: flex-start;
}

.pf-medium-image{
	max-width: 150px;
	max-height: 100px;
	margin-right: 5px;
	cursor: pointer;
}

.pf-medium-info{
	-webkit-flex: 1;
	flex: 1;

	white-space: normal;
}

.pf-medium-info div:nth-child(1){
	display: -webkit-flex;
	display: flex;

	-webkit-flex-direction: row;
	flex-direction: row;
}

.pf-medium-category{
	-webkit-flex: 3;
	flex: 3;

	text-transform: uppercase;
	letter-spacing: 0.0909em;
}

.pf-medium-date{
	-webkit-flex: 1;
	flex: 1;

	max-width: 30px;
	text-align: right;
	padding-right: 5px;
	font-size: 80%;
  color: #707170;
}

.pf-medium-title{
	color: #162964;
  font-weight: bold;
  cursor: pointer;
}

.pf-medium-consumes{
	font-size: 80%;
  color: #707170;
}

.pf-medium-description{
	white-space: normal;
	color: #707170;
	font-size: 90%;
}



@media screen and (max-width: 639px){


	#navigation
	#navigation-threads,
	#navigation-search{
		width: 100%;
	}

	#presentation{
		display: none;
	}

	.pf-medium-description{
		display: none;
	}

	.pf-medium-description-top{
		display: block;
	}
}

@media screen and (min-width: 640px) and (max-width: 669px){
	#navigation,
	#presentation,
	#navigation-threads,
	#navigation-search{
		width: 50%;
	}

	.pf-medium-description-top{
		display: none;
	}
}

@media screen and (min-width: 670px){
	#navigation,
	#navigation-threads,
	#navigation-search{
		width: 350px;
	}

	#presentation{
		width: calc(100% - 350px);
	}

	.pf-medium-description-top{
		display: none;
	}
}