<ion-view title="'Settings'" left-buttons="leftButtons">
	<ion-content has-header="true" padding="false" scroll="true">
		<div class="list">

			<div class="item item-divider item-icon-right">
				Filter bearbeiten
				<a pf-tick ng-click="addThread()" href="javascript:void(0)" style="color: black;">
					<i class="icon ion-plus" style="font-size: 16px;"></i>
				</a>
			</div>
			<a pf-tick class="item" ng-repeat="thread in data.threads" href="javascript:void(0)" ng-click="showFilterActionSheet($index)">
				{{thread.name}}
			</a>

			<div class="item item-divider">
				Impressum
			</div>
			<a pf-tick class="item" href="javascript:void(0)">
				Version 1.0
			</a>
			<a pf-tick class="item" href="javascript:void(0)">
				Nutzungbedingungen
			</a>
			<a pf-tick class="item" href="javascript:void(0)">
				About
			</a>

			<div class="item item-divider">
				Sonstiges
			</div>
			<a pf-tick class="item" href="javascript:void(0)">
				Einstellungen zur&uuml;cksetzen
			</a>

		</div>
	</ion-content>
</ion-view>