<ion-side-menus>
  <div ng-controller="MenuCtrl">
    <ion-pane ion-side-menu-content drag-content="false">
      <div id="application" class="fp">
        <ion-nav-bar  animation="nav-title-slide-ios7" type="bar-black" back-button-type="button-icon" back-button-icon="ion-arrow-left-c" style="cursor: pointer;"></ion-nav-bar>
        <div class="fp" ui-view></div>
      </div>
    </ion-pane>
    <ion-side-menu id="side-menu" side="left">
      <div class="list">
        <a pf-tick class="item item-icon-left" href="#/app/media/threads/0">
          <i class="icon ion-home"></i>
          <span translate="MENU_HOME"></span>
        </a>
        <a pf-tick class="item item-icon-left" ui-sref="app.media.search">
          <i class="icon ion-search"></i>
          <span translate="MENU_SEARCH"></span>
        </a>
        <a pf-tick class="item item-icon-left" ui-sref="app.media.favourites">
          <i class="icon ion-android-star"></i>
          <span translate="MENU_BOOKMARK"></span>
        </a>
        <a pf-tick class="item item-icon-left" ui-sref="app.settings.index">
          <i class="icon ion-gear-b"></i>
          <span translate="MENU_SETTINGS"></span>
        </a>
        <a pf-tick class="item item-icon-left" href="#/help">
          <i class="icon ion-information"></i>
          <span translate="MENU_HELP"></span>
        </a>
      </div>
    </ion-side-menu>
  </div>
</ion-side-menus>