<ion-view id="navigation-search" title="'MEDIA_SEARCH_TITLE' | translate" hide-back-button="true" left-buttons="leftButtons" right-buttons="rightButtons">
	<ion-content start-y="55" has-header="false" padding="false" on-infinite-scroll="searchMoreMedia" overflow-scroll="false">
    <div class="bar bar-header item-input-inset">
      <div class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <pf-search-box></pf-search-box>
        <i class="clear-search icon ion-ios7-close-empty"></i>
      </div>
      <button pf-tick class="button button-clear icon ion-arrow-right-c" ng-click="searchMedia()"></button>
    </div>

    <pf-media media="data.media" consume-medium="consumeMedium" display="display"></pf-media>
    <div ng-if="data.media.length > 0">
		  <ion-infinite-scroll></ion-infinite-scroll>
    </div>
	</ion-content>
</ion-view>
