<view id="navigation-search" title="'Suche'" hide-back-button="true" left-buttons="leftButtons" right-buttons="rightButtons">
  <div class="bar bar-header item-input-inset" style="position: relative; top: 44px; left: 0; z-index: 500;">
    <label class="item-input-wrapper">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <input type="search" ng-model="searchField" placeholder="Search">
    </label>
    <button pf-tick class="button button-clear icon ion-arrow-right-c" ng-click="searchMedia()"></button>
  </div>
	<content has-header="true" padding="false" on-infinite-scroll="searchMoreMedia" overflow-scroll="false" style="position: relative;">
		<pf-media media="data.media" consume-medium="consumeMedium" display="display"></pf-media>
	</content>
</view>
