<div>
	<div bindonce class="medium" bo-style="medium.mediaProvider.id | mediumBackground">
		<div>
			<div class="medium-image">
				<div style="position: relative;">
					<a ng-click="addFavourite(medium)">
					<img bo-src="medium.imageMedium"></a>
					<span bo-html="medium.mediaProvider.mediaProviderName"></span>
				</div>
			</div>

			<div class="medium-info">
				<div>
					<div class="medium-category" bo-html="medium.category.id | mediaCategory"></div>
					<div class="medium-date" bo-html="medium.date | mediumDate"></div>
				</div>
				<span class="medium-title" bo-html="medium.title"></span><br>
				<span class="medium-consumes" ng-bind-html="medium.consumed + 'x gelesen'"></span>
			</div>
		</div>

		<div class="medium-description" bo-html="medium.description"></div>
	</div>

	<pf-medium-controls ng-if="controls"></pf-medium-controls>
</div>