<div class="pf-medium" ng-style="medium.category.id | mediumBackground">
	<div>
		<img class="pf-medium-image" ng-src="{{medium.imageMedium}}" ng-click="consume(index)"/>
		<div class="pf-medium-info">
			<div>
				<span class="pf-medium-category" ng-bind-html="medium.category.id | mediaCategory"></span>
				<span class="pf-medium-date" ng-bind-html="medium.date | mediumDate"></span>
			</div>
			<span class="pf-medium-title" ng-bind-html="medium.title"></span> <br />
			<span class="pf-medium-consumes">{{medium.consumed}} mal gelesen</span>
		</div>
	</div>
	<div>
		<span class="pf-medium-description" ng-bind-html="medium.description"></span>
	</div>
</div>