
	<div bindonce class="pf-medium" bo-style="medium.mediaProvider.id | mediumBackground">
		<!--bo-style="medium.category.id | mediumBackground"-->
		<div>

			<a pf-tick ng-click="consumeMedium(medium)"><img class="pf-medium-image" bo-src="medium.imageMedium"/></a>
			<div class="pf-medium-info">
				<!--<div>
					<span class="pf-medium-category" bo-html="medium.category.id | mediaCategory"></span>
					<span class="pf-medium-date" bo-html="medium.date | mediumDate"></span>
				</div>-->
				<span class="pf-medium-category" bo-html="medium.category.id | mediaCategory"></span><br>
				<span class="pf-medium-title" bo-html="medium.title"></span> <br />
				<span class="pf-medium-description-top" bo-html="medium.description"></span>
				<span class="pf-medium-consumes" ng-bind-html="medium.consumed + ' mal gelesen'"></span>
				<!--<span class="pf-medium-consumes">7 mal gelesen</span>-->
			</div>
		</div>
		<div style="">
			<span class="pf-medium-description-bottom" bo-html="medium.description"></span>
		</div>
	</div>
